{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    
    {% for post in posts %}
        <div class="post-container">
            <a href="{% url 'display_profile_view' post.user.id %}">{{ post.user.username }}</a>
            <p>{{ post.content }}</p>
            <p>{{ post.date_added }}</p>
            <p>{{ post.like.count }}</p>
            {% if user.is_authenticated and request.user != post.user %}
                {% if request.user in post.like.all %}
                    <a href="{% url 'like_post' post.id %}" class="btn btn-primary">unLike</a>
                {% else %}
                    <a href="{% url 'like_post' post.id %}" class="btn btn-primary">Like</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
        <script src="{% static 'network/app.js' %}"></script>
{% endblock %}

