{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <h1 class="main-header">
        Following
    </h1>
    <div class="tweets-list">
        {% for tweet in page_obj %}
        <div class="tweet-wrapper" id="tweet-{{ tweet.id }}">
            <div class="tweet">
                <div class="tweet-header">
                    <a class="name" href="{% url 'display_profile_view' tweet.user.id %}">@{{ tweet.user.username }} </a>
                    <p class="date">{{ tweet.date_added }}</p>
                </div>
                <div class="tweet-content" id="tweet-content-{{ tweet.id }}">
                    <p>
                        {{ tweet.content }}
                    </p>
                </div>
            </div>
            <div class="tweet-buttons">
                
                <button class="like-button" data-id="{{ tweet.id }}">
                    {% if request.user in tweet.like.all %}
                        <img src="{% static 'network/icons/like-red.svg' %}">
                    {% else %}
                        <img src="{% static 'network/icons/like.svg' %}">  
                    {% endif %}
                    <p>{{ tweet.like.count }}</p>
                </button>
                
                {% if request.user == tweet.user%}
                <button>
                    <img src="{% static 'network/icons/edit.svg' %}">
                    <p>edit</p>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if page_obj %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <h2 class="empty-status">You're not following anyone at the moment</h2>
    {% endif %}

    <script src="{% static 'network/app.js' %}"></script>
    
{% endblock %}

