{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="post-container">
            <h2 class="post-header">Create A New Post</h2>
            <form action="" id="post-form">
                <textarea class="form-control" id="post-content" rows="3"></textarea>
                <input id="post-submit" type="submit">
            </form>
        </div>
    {% endif %}
    
    {% for post in page_obj %}
        <div class="post-container">
            <a href="{% url 'display_profile_view' post.user.id %}">{{ post.user.username }}</a>
            <p>{{ post.content }}</p>
            <p>{{ post.date_added }}</p>
            <p>{{ post.like.count }}</p>
            {% if user.is_authenticated and request.user != post.user %}
                {% if request.user in post.like.all %}
                    <a href="{% url 'like_post' post.id %}" class="btn btn-primary">unLike</a>
                {% else %}
                    <a href="{% url 'like_post' post.id %}" class="btn btn-primary">Like</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        <script src="{% static 'network/create_post.js' %}"></script>
{% endblock %}

