{% extends "network/layout.html" %}
{% load static %}

{% block body %}
        <h2 class="page-title"></h2>
        {% if user.is_authenticated %}
            <div class="post-container form-container">
                <form id="post-form">
                    <textarea class="form-control" id="post-content" rows="1" placeholder="Spread the word..."></textarea>
                    <button class="form-button my-button" id="post-submit" type="submit">
                        <img src="{% static 'network/icons/cast.svg' %}">
                    </button>
                </form>
            </div>
        {% else %}
            <h1 class="main-header">
                Welcome To Splinter
            </h1>
        {% endif %}
        <div class="tweets-list">
            {% for tweet in page_obj %}
            <div class="tweet-wrapper" id="tweet-{{ tweet.id }}">
                <div class="tweet">
                    <div class="tweet-header">
                        <a class="name" href="{% url 'display_profile_view' tweet.user.id %}">@{{ tweet.user.username }} </a>
                        <p class="date">{{ tweet.date_added }}</p>
                    </div>
                    <div class="tweet-content" >
                        <p id="tweet-content-{{ tweet.id }}">
                            {{ tweet.content }}
                        </p>
                    </div>
                </div>
                <div class="tweet-buttons">
                    
                    <button class="like-button" data-id="{{ tweet.id }}">
                        {% if request.user in tweet.like.all %}
                            <img src="{% static 'network/icons/like-red.svg' %}">
                        {% else %}
                            <img src="{% static 'network/icons/like.svg' %}">  
                        {% endif %}
                        <p>{{ tweet.like.count }}</p>
                    </button>
                   
                    {% if request.user == tweet.user%}
                    <button class="edit" data-id="{{ tweet.id }}">
                        <img src="{% static 'network/icons/edit.svg' %}">
                        <p>edit</p>
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

        <script src="{% static 'network/app.js' %}"></script>
        
{% endblock %}

