{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="post-container form-container">
            <h2 class="form-header">Create A New Post</h2>
            <form action="" id="post-form">
                <textarea class="form-control" id="post-content" rows="3"></textarea>
                <input class="form-button my-button" id="post-submit" type="submit">
            </form>
        </div>
    {% else %}
        <h1 class="main-header">
            Welcome To Splinter
        </h1>
    {% endif %}
    
    {% for post in page_obj %}
        <div id="post_container_{{ post.id }}" class="post-container">
            <div class="post-header">
                <div class="post-user">
                    <a class="post-profile-link" href="{% url 'display_profile_view' post.user.id %}">@{{ post.user.username }}</a>
    
                </div>
                <p class="post-date">Added: {{ post.date_added }}</p>
            </div>
            <hr>
            
            <div id="content_container_{{ post.id }}">
                <p class="post-content" id="post_content_{{ post.id }}">
                    {{ post.content }}
                </p>
                {% if post.edited == True %}
                    <small class="post-content-edit">Edited</small>
                {% endif %}
                <div class="button-container">
                    {% if request.user == post.user %}
                        <button id="edit_button_{{ post.id }}" class="edit my-button" data-post_id="{{ post.id }}">Edit</button>   
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if user.is_authenticated %}
                <div id="like_button_{{ post.id }}" class="liked" data-post_id="{{ post.id }}">
                    {% if request.user in post.like.all %}
                        <i class="fas fa-heart icon"></i>
                    {% else %}
                        <i class="far fa-heart icon"></i>   
                    {% endif %}
                </div>
            {% else %}
                <i class="fas fa-heart icon"></i>        
            {% endif %}
            <p class="likes_count" id="like_count_{{ post.id }}">{{ post.like.count }}</p> 
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

        <script src="{% static 'network/app.js' %}"></script>
        <script src="{% static 'network/create_post.js' %}"></script>
        
{% endblock %}

