{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="profile-page">
        <div class="profile-container">
            <h1 class="profile-username">
                @{{ profile.user.username }}
                {% if not same_user_check and user.is_authenticated %}
                    <button id="follow" class="btn btn-primary" data-user_id="{{ profile.user.id }}">
                        {% if not following %}
                            Follow
                        {% else %}
                            Unfollow
                        {% endif %}
                    </button>    
                {% endif %}
                
            </h1>
            <div class="profile-follow">
                <h2 id="followers" class="profile-follow-stats">Followers: {{ profile.followers.count }}</h2>
                <h2 id="following" class="profile-follow-stats">Following: {{ profile.following.count }}</h2>
            </div>
        </div>
        <div class="posts-container">
            {% for post in page_obj %}
                <p>{{ post.content }}</p>
                <hr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
</div>
<script src="{% static 'network/app.js' %}"></script>
<script src="{% static 'network/follow.js' %}"></script>
{% endblock %}