{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="profile-page">
        <div class="profile-container">
            <h1 class="profile-username">
                @{{ profile.user.username }}
                {% if not same_user_check and user.is_authenticated %}
                    <button id="follow" class="btn btn-primary" data-user_id="{{ profile.user.id }}">
                        {% if not following %}
                            Follow
                        {% else %}
                            Unfollow
                        {% endif %}
                    </button>    
                {% endif %}
                
            </h1>
            <div class="profile-follow">
                <h2 id="followers" class="profile-follow-stats">Followers: {{ profile.followers.count }}</h2>
                <h2 id="following" class="profile-follow-stats">Following: {{ profile.following.count }}</h2>
            </div>
        </div>
        <div class="posts-container">
            {% for post in page_obj %}
            <div id="post_container_{{ post.id }}" class="post-container">
                <div class="post-header">
                    <div class="post-user">
                        <a class="post-profile-link" href="{% url 'display_profile_view' post.user.id %}">@{{ post.user.username }}</a>

                    </div>
                    <p class="post-date">Added: {{ post.date_added }}</p>
                </div>
                <hr>
                
                <div id="content_container_{{ post.id }}">
                    <p class="post-content" id="post_content_{{ post.id }}">
                        {{ post.content }}
                    </p>
                    {% if post.edited == True %}
                        <small class="post-content-edit">Edited</small>
                    {% endif %}
                </div>
                <hr>
                
                <div id="like_button_{{ post.id }}" class="liked" data-post_id="{{ post.id }}">
                    {% if request.user in post.like.all %}
                        <i class="fas fa-heart icon"></i>
                    {% else %}
                        <i class="far fa-heart icon"></i>   
                    {% endif %}
                </div>
                <p class="likes_count" id="like_count_{{ post.id }}">{{ post.like.count }}</p> 
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
</div>
<script src="{% static 'network/app.js' %}"></script>
<script src="{% static 'network/follow.js' %}"></script>
{% endblock %}