{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="profile-page">
        <div class="profile-container">
            <h1 class="profile-username">
                @{{ profile.user.username }}
                {% if not same_user_check and user.is_authenticated %}
                    {% if not following %}
                        <a href="{% url 'follow_user' profile.user.id %}"class="btn btn-primary">Follow</a>
                    {% else %}
                        <a href="{% url 'follow_user' profile.user.id %}"class="btn btn-primary">Unfollow</a>
                    {% endif %}
                {% endif %}
                
            </h1>
            <div class="profile-follow">
                <h2 class="profile-follow-stats">Followers: {{ profile.followers.count }}</h2>
                <h2 class="profile-follow-stats">Following: {{ profile.following.count }}</h2>
            </div>
        </div>
        <div class="posts-container">
            {% for post in posts %}
                <p>{{ post.content }}</p>
                <hr>
            {% endfor %}
        </div>
</div>
{% endblock %}